@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #111111;
}

* {
  box-sizing: border-box;
}
